body {
    margin: 0;
    font-family: 'Open Sans', sans-setif;
    color: #333;
}

.header {
    height: 70vh;
    /*    .. tymi kropkami cofam sie do katalogu w ktorym jest zdjecie, oraz ma byc url*/
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr {
    width: 70px;
    height: 2px;
    background-color: #007bff;
    margin: 0 auto;
    margin-bottom: 50px;
}

.header h1 {
    text-transform: uppercase;
    color: #007bff;
    font-size: 60px;
    /*    margines z h1 sciagamy*/
    margin: 0;
}

.header p {
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
}

.header span {
    color: #007bff;
}

.header a {
    text-decoration: none;
    display: inline-block;
    /*    border: wazne ze po display i ponizsza wartosc*/
    border: 1px solid #007bff;
    color: #333;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.4s;
}

/*hover odpowiada za to ze teks sie podswietla gdy na niego najade*/
.header a:hover {
    background-color: #007bff;
    color: #fff;
}

/*.main-nav oznacza ze lapie nawigacje o tej konktertnej klasie*/
.main-nav {
    background-color: #007bff;
    /*    padding: zeby podswietlanie nie pokrylo calej lini tylko fragment, aby zostal odstep od gory i dolu*/
    padding: 10px 0;
    position: sticky;
    top: 0; 
    z-index: 10;
}

.main-nav label,
#menu {
    display: none;  
}

/*zlap element ul ktory jest elementem potomnym elementu o klasie main-nav*/
.main-nav ul {
    margin: 0;
    padding: 0;
    /*    list-style-type: none; wyczyscil mi kropki*/
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav li {
    text-transform: uppercase;
    /*    padding: oddzielil mi o mnie portfolio kontakt od siebie*/
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
}

.main-nav li:hover {
    background-color: #fff;
    color: #007bff;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 60px 0;
}

#about hr {
    margin-bottom: 50px;
}

h2 {
    text-transform: uppercase;
    color: #333;
    font-weight: 100;
}

/*img o tej wartosci powoduje ze obraz zmianil obwod w kolko*/
#about img {
    border-radius: 50%;
}
#about p {
    max-width: 700px;
}

.button {
    text-decoration: none;
    display: inline-block;
    /*    border: wazne ze po display i ponizsza wartosc*/
    border: 1px solid #007bff;
    color: #333;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.4s;
}

/*hover odpowiada za to ze tekst sie podswietla gdy na niego najade*/
.button:hover {
    background-color: #007bff;
    color: #fff;
}

.portfolio-inner {
    display: flex;
    flex-wrap: wrap;   
}
/*zawsze jak jest display flex to ustawiaj flex-wrap:wrap*/

.portfolio-inner a {
    flex-basis: 25%;
    position: relative;
    height: 200px;
}

/*
#portfolio .portfolio-inner a::before {
    content: 'project';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba (0, 123. 255, 0.7);
    color: #fff;
    line-height: 200px;
    opacity: 0;
    transition: all 0.4s;
} 
*/

.portfolio-inner img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
/*object - fit: cover działa jak mam ustawione i wysokosc i szerokosc*/

#portfolio {
    background-color: #f2f1ed;
    text-align: center;
    padding: 60px 0;
}

/*
#portfolio hr {
    margin-bottom: 50px;
}
*/

.portfolio-inner a p {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 123, 255, 0.7);
    line-height: 200px;
    opacity: 0;
    transition: all 0.4s;
}
/*
.portfolio-inner a:hover {
    background-color: #007bff;
    color: #fff;
}
*/
.portfolio-inner p:hover {
    color: #fff;
    opacity: 1;
}

#kontakt {
    text-align: center;
}

form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input {
    flex-basis: 45%;
    margin-bottom: 20px;
    padding: 10px;
}
textarea {
    height: 60px;
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;
}
/*wszystkie imputy z wyjatkiem submit p:not(type="submit" w trix 3w to jest*/

input[type="submit"] {
    margin: auto;
    flex-basis: 20%;
}

.link {
    margin-top: 50px;
}

.link a {
    margin: 0 10px;
    color: #007bff;
    transition: all 0.4s;
}

.link a:hover {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f1ed;
    margin-top: 20px;
}

footer p {
    margin: 0:
}

